videos/occlusion.mp4
skeleton_tracking.py
videos/xy_slow.mp4
videos/xyz_fast.mp4
videos/xyz_slow.mp4
videos/z_slow.mp4
yolo_v3_files/yolov3.weights
videos/hand_open_close.mp4
videos/two_hands_open_close.mp4
